html {
  background-color: #00539f;
  font-size: 10px;
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0px 20px 20px 20px; 
  border: 0.5px solid rgb(0, 0, 0);
}

h1 {
  margin: 0;
  padding: 10px 0;
  color: #00539f;
  text-shadow: 1px 2.5px 3px rgb(41, 23, 88);
  letter-spacing: 2px;
  text-align: center;

}

p,
li {
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: 0.25px;
}

img {
  display: block;
  margin: 0 auto;
  width: 350px;
  height: 350px;
}
